<style>
    /* Estilo para el contenedor del navbar */
    .navbar-container {
        text-align: center;
        border-radius: 8px;
    }

    /* Estilo para la barra de navegación */
    .navbar {
        background-color: #3498db;
        overflow: hidden;
        display: inline-block;
        border-radius: 0px 0px 10px 10px;
    }

    /* Estilo para los enlaces dentro de la barra de navegación */
    .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

    /* Cambiar el color del enlace al pasar el mouse */
    .navbar a:hover {
        background-color: black;
        color: #3498db;
    }

    /* Estilo para el elemento activo */
    .active {
        background-color: black;
        color: #3498db;
    }

    /* Estilo para la parte que se colapsa en pantallas pequeñas */
    .navbar .icon {
        display: none;
    }

    /* Estilo para la parte que se muestra en pantallas pequeñas */
    @media screen and (max-width: 600px) {
        .navbar a:not(:first-child) {display: none;}
        .navbar a.icon {
            float: right;
            display: block;
        }
    }

    /* Estilo para el icono de la parte colapsada */
    @media screen and (max-width: 600px) {
        .navbar.responsive {position: relative;}
        .navbar.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }
</style>

<div class="navbar-container">
    <div class="navbar">
        <a href="/pagos">
            Calculo de Pagos
        </a>
    </div>
</div>